*{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sen', sans-serif;
}

.body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 50px;
    right: 0px;
    height: 50px;
    background-color: white;
    font-family: 'Sen', sans-serif;
}

.navbarContainer{
    display: flex;
    height: 100%;
}

.sidebar{
    z-index: 998;
    position: fixed;
    top: 0px;
    width: 50px;
    height: 100%;
    background-color: white;
}

.sidebarContainer{
    padding-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.left-menu-icon{
    padding-block: 20px;
    font-size: 20px;
}

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.menu-container{
    flex: 5;
}
.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: end;
}

.logo {
    font-size: 30px;
    color: #4dbf00;
}

.menuItems{
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
}

.menuItem{
    padding-right: 20px;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profileText{
    padding-inline: 10px;
}

.tougleButton{
    transition: all 500ms ease-in-out;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    margin-inline: 20px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
}


.tougleIcon{
    color: white;
}

.tougleBall{
    margin-inline: 2px;
    transform: translateX(10px);
    background-color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 500ms ease-in-out;
    position: absolute;
}


.contentContainer{
    /* position: fixed; */
    margin-top: 50px;
    margin-left: 50px;
    height: 100%;
    width: calc(100vw-50px);
}

.featuredMovieSection{
    padding: 50px;
    width: calc(100vw -50px);
    min-height: 400px;
    background: linear-gradient(to bottom, transparent, rgb(37, 37, 37)), url("img/f-1.jpg");
}

.featuredTitleImage{
    width: 200px;
    height: 100px;
}

.featuredDescription{
    padding-block: 50px;
    width: 500px;
    color: white;
    font-size: 18px;
}

.watchButton{
    background-color: green;
    border-radius: 10px;
    font-weight: bold;
    padding-inline: 20px;
    padding-block: 10px;
    border: none;
    cursor: pointer;
    color: white;


}

.titleWithMovieCarousal{
    z-index: 997;
    position: relative;
    padding: 20px;
    overflow: hidden;
}

.movieCarousalTitle{
    padding-block: 20px;
}

.movieCarousalItem{
    margin: 10px;
    position: relative;
}

.movieCarousalItem:hover .moviePoster{
    margin-inline: 50px;
    transform: scale(1.2);
}

.movieCarousalItem:hover .movieDetails{
    opacity : 1;
}


.moviePoster{
    transition: all 500ms ease-in-out;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}


.movieDetails{
    transition: all 500ms ease-in-out;
    width: 250px;
    top: 50px;
    left: 50px;
    position: absolute;
    opacity: 0;
    background-color: rgba(128, 128, 128, 0.705);
}

.movieDescription{
    padding-block: 10px;
}


.movieCarousal{
    display: flex;
    transition: all 500ms ease-in-out;
    transform: translateX(0px);
}


.movieTitle{
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.sliderArrow{
    position: absolute;
    right: 0px;
    top: 50%;
    font-size: 100px;
    color: rgba(128, 128, 128, 0.514);
}

.navbar.active{
    background-color: black;
    color: white;
}

.tougleButton.active{
    background-color: white;
}

.tougleIcon.active{
    color: black;
}

.tougleBall.active{
    background-color: black;
    transform: translateX(-10px);
}


.sidebar.active{
    background-color: black;
    color: white;
}


.contentContainer.active{
    background-color: black;
}

.movieCarousalTitle.active{
    color: white;
}


@media screen and (max-width:740px) {
    .menu-container{
        display: none;
    }
}


